* {
   /* border: 1px solid red; */
   margin: 0;
   line-height: 1;
   border-bottom: 1px solid black;
   box-sizing: border-box;
   /* margin: 0; */
}

h1, h2, h3, h4 {
    color: rgb(41, 86, 40);
    font-weight: 900;
    font-style: italic;
    line-height: 50px;
    text-align: center;
    margin-bottom: 20px;
 }

 header h1 {
   text-align:center;
   border-bottom: 5px solid grey;
 }

body {
    background-color: rgb(245, 238, 224);
    font-family:Arial, Helvetica, sans-serif ,'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode' sans-serif;
    margin: 50px;
    
 }

 p {
    color: darkslategray;
    font-size: 27px;
    line-height: 2;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 30px;
    margin-left: 0;
    margin: 15px 0;
 }

 li {
    color: rgb(rgb(153, 11, 11), rgb(39, 242, 39), rgb(67, 67, 167))
 }

 ul, ol {
   margin: 15px 0;
 }

 section li a {
    color: gray;
    text-decoration-line: underline;
 }
 
 a:link
 a:focus
 a:active {
   text-decoration: none;
   color:green
  }

 a:hover {
   text-decoration: underline;
 }
 
 a:visited {
   color: grey;
 }

footer p {
   font-size: 18px;
   color: greenyellow;
}

section h2 {
   text-decoration: none;
   color: gray;
}

header {

}

header, section, footer {
   padding: 30px;
} 

section {
   border: 1px solid green ;
   background-color: whitesmoke ;
   margin: 30px;
   padding: 30px;
   width: 50%;
   height: 50%;
}

img {
   height: 300px;
   margin: 0 auto;
   
}

.title {
   font-size: 48px;
   text-decoration: underline;
   color: green;
}

.container {
   max-width: 1000px;
   margin: 0 auto;
}

div {
   margin: 0 auto;
}

.box {
   background-image: url(Images/more-leaves.png);
   background-repeat: repeat;
   background-size: cover;
}

.banner {
   height: 350px;
   background-image: url(Images/istockphoto-1129117296-612x612.jpg);
   background-size: cover;
   background-position: center;
}

#about {

}